header{
  height: 116px;
  background-image: linear-gradient(to top, #010101 0%, #2c2c2b 100%);
  .logo{
    float:left;
    margin-top: 20px;
  }
  #searchform{
    float:right;
    position: relative;
    margin: 20px 0 5px;
    input[type="text"]{
      height: 39px;
      width: 263px;
      border: 1px solid rgba(121, 120, 118, 0.71);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.26);
      padding: 0 10px;
      background-color: #2c2c2b;
      color:#fff;
    }
    button{
      position: absolute;
      top: 0;
      right: 0;
      height: 78%;
      margin-top: 5px;
      border: none;
      border-left: 1px solid;
      color:#494947;
      background: transparent;
      font-size: 20px;
    }
  }
  .header-nav{
    clear:both;
    padding: 15px;
    li{
      display:inline-block;
      border-left:1px solid #ffe76e;
      &:first-of-type{
        border: none;
      }
      a{
        padding: 5px 15px;
        color: black;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        transition: 0.5s;
        &:hover{
          background-color: #fff;
        }
      }
    }
    li.current-menu-item{
      a {
        background-color: #fff;
      }
    }
  }
}