/* line 1, ../sass/site-parts/main-content.scss */
.main-content {
  overflow: hidden;
  float: left;
  width: 705px;
  margin-top: 10px;
}
/* line 6, ../sass/site-parts/main-content.scss */
.main-content .slider {
  max-height: 341px;
  overflow: hidden;
  background: url("img/rectangle-4-copy.png") repeat;
  background-size: cover;
  padding: 5px;
}
/* line 12, ../sass/site-parts/main-content.scss */
.main-content .slider figure {
  margin: 0;
  line-height: 0;
}
/* line 16, ../sass/site-parts/main-content.scss */
.main-content .slider .description-block {
  border-top: 5px solid;
  padding: 15px;
  background: #222;
}
/* line 20, ../sass/site-parts/main-content.scss */
.main-content .slider .description-block h3 {
  font-size: 22px;
  color: #ececec;
  letter-spacing: 1.1px;
}
/* line 25, ../sass/site-parts/main-content.scss */
.main-content .slider .description-block p {
  font-size: 15px;
  font-weight: 300;
  line-height: 14px;
  color: #ececec;
}
/* line 34, ../sass/site-parts/main-content.scss */
.main-content .slider .bx-controls-direction {
  display: none;
}
/* line 37, ../sass/site-parts/main-content.scss */
.main-content .slider .bx-controls {
  position: absolute;
  top: 22%;
  right: 38%;
}
/* line 42, ../sass/site-parts/main-content.scss */
.main-content .slider .bx-controls .bx-pager-item a {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-bottom: 3px;
  background-color: #222;
  opacity: 0.42;
  color: #ffd500;
  font-family: Arial;
  font-size: 13px;
  text-align: center;
  line-height: 2;
}
/* line 55, ../sass/site-parts/main-content.scss */
.main-content .slider .bx-controls .bx-pager-item a.active {
  color: #ffd500;
  opacity: 1;
}
/* line 63, ../sass/site-parts/main-content.scss */
.main-content .article-section {
  margin-top: 35px;
}
/* line 65, ../sass/site-parts/main-content.scss */
.main-content .article-section h2 {
  padding: 15px;
  background-color: #222;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
/* line 75, ../sass/site-parts/main-content.scss */
.main-content .article-section .post {
  position: relative;
  margin: 50px 0;
  padding: 0 0 15px 95px;
  border-bottom: 5px solid #e7e7e7;
}
/* line 80, ../sass/site-parts/main-content.scss */
.main-content .article-section .post .date-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 77px;
  height: 77px;
  padding: 5px;
  background-color: #c3c3c3;
}
/* line 88, ../sass/site-parts/main-content.scss */
.main-content .article-section .post .date-wrap time {
  display: block;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.44);
  text-align: center;
}
/* line 93, ../sass/site-parts/main-content.scss */
.main-content .article-section .post .date-wrap time .post-date {
  margin-top: 7px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}
/* line 99, ../sass/site-parts/main-content.scss */
.main-content .article-section .post .date-wrap time .post-month {
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
}
/* line 107, ../sass/site-parts/main-content.scss */
.main-content .article-section .post h3 a {
  color: #222;
  font-size: 20px;
}
/* line 110, ../sass/site-parts/main-content.scss */
.main-content .article-section .post h3 a:hover {
  text-decoration: underline;
}
/* line 115, ../sass/site-parts/main-content.scss */
.main-content .article-section .post > p {
  margin: 25px 0 10px;
  color: #a5a4a4;
  font-family: Arial;
  line-height: 24px;
}
/* line 121, ../sass/site-parts/main-content.scss */
.main-content .article-section .post .excerpt-link {
  display: inline-block;
  width: 157px;
  height: 35px;
  padding: 5px 10px;
  color: #2c2c2b;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  transition: 0.5s;
}
/* line 131, ../sass/site-parts/main-content.scss */
.main-content .article-section .post .excerpt-link:hover {
  opacity: 0.7;
}
/* line 134, ../sass/site-parts/main-content.scss */
.main-content .article-section .post .excerpt-link .fa {
  display: inline-block;
  margin-left: 11px;
  font-size: 23px;
  color: #2c2c2b;
}
/* line 142, ../sass/site-parts/main-content.scss */
.main-content .article-section .post .meta-info li {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  height: 24px;
  background-color: #ecebeb;
  line-height: 1;
}
/* line 149, ../sass/site-parts/main-content.scss */
.main-content .article-section .post .meta-info li a {
  font-family: Arial;
  font-size: 12px;
  color: #5e5e5e;
}
/* line 154, ../sass/site-parts/main-content.scss */
.main-content .article-section .post .meta-info li .fa {
  display: inline-block;
  margin-right: 5px;
  color: #a09e9e;
}
/* line 159, ../sass/site-parts/main-content.scss */
.main-content .article-section .post .meta-info li .post-categories {
  display: inline-block;
}
/* line 161, ../sass/site-parts/main-content.scss */
.main-content .article-section .post .meta-info li .post-categories li {
  display: inline-block;
  padding: 0;
  height: auto;
  line-height: 1;
}
/* line 173, ../sass/site-parts/main-content.scss */
.main-content .navigation {
  overflow: hidden;
  margin-bottom: 35px;
}
/* line 176, ../sass/site-parts/main-content.scss */
.main-content .navigation h2 {
  display: none;
}
/* line 179, ../sass/site-parts/main-content.scss */
.main-content .navigation .nav-links {
  float: right;
}
/* line 181, ../sass/site-parts/main-content.scss */
.main-content .navigation .nav-links .page-numbers {
  display: inline-block;
  width: 25px;
  height: 25px;
  opacity: 0.84;
  background-color: #e2e2e2;
  text-align: center;
  color: #222;
  font-family: Arial;
  font-size: 13px;
  line-height: 24px;
}
/* line 193, ../sass/site-parts/main-content.scss */
.main-content .navigation .nav-links .current {
  background-color: #222;
  color: white;
}
