.sidebar{
  float:right;
  overflow: hidden;
  width: 300px;
  margin-top: 10px;
  //form newsletter
  .widget_text{
    padding: 15px;
    border-bottom: 4px solid #e2e2e2;
    .widget-title{
      margin-bottom: 20px;
      color: #222;
      font-size: 16px;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
    }
    input{
      width: 100%;
      height: 35px;
      margin-bottom: 7px;
      padding: 10px;
      background-color: #e2e2e2;
      border: 1px solid #b7b7b7;
      box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.06);
      color: #7f7c7c;
      font-family: Arial;
      font-size: 14px;
    }
    button{
      width: 157px;
      height: 35px;
      border:none;
      color: #2c2c2b;
      font-weight: 300;
      text-transform: uppercase;
      transition: 0.5s;
      &:hover{
        opacity: 0.7;
      }
      .fa{
        display: inline-block;
        margin-left: 10px;
        font-size: 20px;
        color: #2c2c2b;
      }
    }
  }

  //Most popular
  #recent-posts-3{
    position: relative;
    margin:20px 0;
    padding: 80px 5px 5px 5px;
    background: url("img/rectangle-4-copy.png") repeat;
    h4{
      position: absolute;
      width: 100%;
      left:0;
      right: 0;
      top:0;
      padding: 15px;
      background-color: #222;
      color: white;
      font-size: 16px;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
    }
    ul{
      overflow: hidden;
      li{
        display:block;
        margin-bottom: 5px;
        a{
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 15px;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
          background-color: #fff;
          color: #222;
          font-size: 16px;
          line-height: 24px;
          transition: 0.5s;
        }
      }
    }
  }

  //categories
  #categories-3{
    position: relative;
    margin:20px 0;
    padding:50px 5px 5px 5px;
    background: url("img/rectangle-4-copy.png") repeat;
    h4{
      position: absolute;
      width: 100%;
      left:0;
      right: 0;
      top:0;
      margin-top: 5px;
      padding: 5px;
      color: #222;
      font-size: 16px;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
    }
    ul{
      overflow: hidden;
      li{
        display:block;
        margin-bottom: 5px;
        padding: 10px 5px;
        background-color: #454545;
        a{
          display: inline-block;
          height: 100%;
          color: #b6b6b6;
          font-family: Arial;
          transition: 0.5s;
        }
        span{
          clear: both;
          float:right;
          padding: 5px 15px;
          color: #342f2f;
          font-family: Arial;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
  }
}