.main-content{
  float: left;
  width: 705px;
  margin-top: 10px;
  .slider{
    max-height: 341px;
    overflow: hidden;
    background: url("img/rectangle-4-copy.png") repeat;
    background-size: cover;
    padding: 5px;
    figure{
      margin: 0;
      line-height: 0;
    }
    .description-block{
      border-top:5px solid;
      padding: 15px;
      background: #222;
      h3{
        font-size: 22px;
        color: #ececec;
        letter-spacing: 1.1px;
      }
      p{
        font-size: 15px;
        font-weight: 300;
        line-height: 14px;
        color: #ececec;
      }
    }

    //slider controls
    .bx-controls-direction{
      display: none;
    }
    .bx-controls{
      position: absolute;
      top: 22%;
      right: 38%;
      .bx-pager-item {
        a {
          display: inline-block;
          width: 23px;
          height: 23px;
          margin-bottom: 3px;
          background-color: #222;
          opacity: 0.42;
          color: #ffd500;
          font-family: Arial;
          font-size: 13px;
          text-align: center;
          line-height: 2;
        }
        a.active{
          color: #ffd500;
          opacity: 1;
        }
      }
    }
  }
}